@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-SemiBold.otf') format('opentype');
    font-style: bold;
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Bold.otf') format('opentype');
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-ExtraBold.otf') format('opentype');
    font-style: bold;
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Black.otf') format('opentype');
    font-style: bolder;
    font-weight: 900;
}